@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
  --bg: #f3f3fc;
}
html.second{
  --bg: #17165A
}
code{
  font-family: 'Roboto';
}

.feature{
  background-color: var(--blue);
  padding: 48px;
  height: 20svh;
  border-radius: 8px;
  position: sticky;
  top: 0;
  left:0;
  right: 0;
}
.projcontainer{
  background-color: rgb(42, 46, 167);
  >div div:nth-of-type(2n){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    p{
      color: var(--black);
    }
    >i{
      padding: 12px;
      background-color: #3C3ACF;
      color: #ffffff;
      border-radius: 100px;
    }
  }
  >div div:nth-of-type(2n-1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    p{
      color: var(--black);
    }
  }
}
.comparison-table .icon-cell {
  text-align: start;
}
.ph-check {
  color: #46BD84;
}

.ph-x {
  color: #CF3A3A;
}

html.second .projcontainer{
  background-color: #17165A;
}

.flex-col strong {
  position: relative;
  top: -3rem;
}

.grid > .proj-img img{
  border-radius: 0;
}

.cards{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  >label{
    position: absolute;
    top: 1rem;
    left: 2rem;
    font-weight: 700;
    color: var(--black);
    opacity: 0.3;
  }
}

.card{
  position: relative;
  z-index: 2;
  padding: 10px;
  width: 120px;
  height: 120px;
  overflow: visible;
  box-shadow: 0px 8px 3px rgba(0,0,0,0.010), 0px 5px 3px rgba(0,0,0,0.010), 0px 3px 2px rgba(0,0,0,0.010), 0px 1px 2px rgba(0,0,0,0.10), 0px 0px 2px rgba(0,0,0,0.10);
  p{
    font-weight: bold;
    width: 100%;
  }
}
.card-pink{
  background-color: #E666AC;
}
.card-green{
  background-color: #73C843;
}
.card-white{
  background-color: #F8F8F9;
}

.gallery{
  flex-wrap: wrap;
}

.quote-blue{
  background-color: #3C3ACF;
  color: #ffffff;
}

@media screen and (max-width: 691px) {
  .proj-img.cards{
    height: 330px;
  }
}